<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @watch.brand %>
</p>

<p>
  <strong>Movement:</strong>
  <%= @watch.movement %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @watch.reference %>
</p>

<p>
  <strong>Case material:</strong>
  <%= @watch.case_material %>
</p>

<p>
  <strong>Year:</strong>
  <%= @watch.year %>
</p>

<p>
  <strong>Case diameter:</strong>
  <%= @watch.case_diameter %>
</p>

<p>
  <strong>Case height:</strong>
  <%= @watch.case_height %>
</p>

<p>
  <strong>Lug width:</strong>
  <%= @watch.lug_width %>
</p>

<p>
  <strong>Description:</strong>
  <%= @watch.description %>
</p>

<p>
  <strong>Retail price:</strong>
  <%= @watch.retail_price %>
</p>

<p>
  <strong>Url:</strong>
  <%= @watch.url %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @watch.collection %>
</p>

<p>
  <strong>Dial color:</strong>
  <%= @watch.dial_color %>
</p>

<p>
  <strong>Strap:</strong>
  <%= @watch.strap %>
</p>

<p>
  <strong>Buckle:</strong>
  <%= @watch.buckle %>
</p>

<p>
  <strong>Numerals:</strong>
  <%= @watch.numerals %>
</p>

<p>
  <strong>Water resistance:</strong>
  <%= @watch.water_resistance %>
</p>

<p>
  <strong>Glass:</strong>
  <%= @watch.glass %>
</p>

<%= link_to 'Edit', edit_watch_path(@watch) %> |
<%= link_to 'Back', watches_path %>
